label{
    width: 30%;
}
.marginbottom{
    margin-bottom: 2rem !important;
}
.error-login{
    color: red;
    margin-top: -10px;
    margin-bottom: 14px;
}
iframe {
    width: 361px;
}
.rc-anchor-logo-portrait {
    margin: 6px 0 0 82px !important;
}