.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.radio_btn_cls:focus, .radio_btn_cls.focus, .radio_btn_cls:active, .radio_btn_cls.active, .open > .dropdown-toggle.radio_btn_cls {
    color: #FFF!important;
    background-color: rgb(0, 152, 61);
    border-color: #204D74;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #FFF!important;
    background-color: rgb(0, 152, 61);
    border-color: #204D74;
}


[data-toggle="buttons"] > .btn input[type="radio"], [data-toggle="buttons"] > .btn-group > .btn input[type="radio"], [data-toggle="buttons"] > .btn input[type="checkbox"], [data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

	.casebackdispn{
		display: none;
	}
	.casebackdispb{
		display: block;
	}
	.errorClass{
		border: 2px solid #FF2929;
		border-radius: 4px;
		box-shadow: 2px 2px 2px #CCC;
		transition:.5s;
	}

	.radio_btn_cls{
		background:#F56249;
		border:none;
		margin-right:3px;.
		color: #FFF!important;
		
	}
	
	.radio_btn_cls:hover{
		background:#BA411D;
	}
	.radio_btn_cls:focus, .radio_btn_cls.focus, .radio_btn_cls:active, .radio_btn_cls.active, .open > .dropdown-toggle.radio_btn_cls {
    color: #FFF;
    background-color: rgb(0, 152, 61);
    border-color: #204D74;
	}

	
	

	.panel-group .panel {
		border-radius: 0;
		box-shadow: none;
		border-color: #EEEEEE;
	}

	.panel-default > .panel-heading {
		padding: 0;
		border-radius: 0;
		color: #212121;
		//background-color: #F6462A;
		background-color: #DE8E67;
		border-color: #FFF;
	}

	.panel-title {
		font-size: 14px;
	}

	.panel-title > a {
		display: block;
		padding: 15px;
		text-decoration: none;
		color:#FFF;
	}

	.more-less {
		float: right;
		color: #212121;
	}
	
	.panel-body {
		//background:#FCE3D0;
		//background: #FFFCFA;
	}

	
	.panel-default > .panel-heading + .panel-collapse > .panel-body {
		border-top-color: #EEEEEE;
			}
	.glyphicon{display:none;color:#FFF;font-weight:bold;font-size:16px;}
	.modal-header{
		background:#F96D56;
		border-bottom:1px solid #FE6036;
		color: #FFF;
		border-radius: 4px;
		box-shadow: 1px 1px 6px #323232 !important;
	}
	.personal_info_disable{
		pointer-events: none;
		opacity:.6;
		
	}
	.add_doctref_input{
		border-radius: 4px;
		border: 1px solid #B7B7B7;
		width:260px;
		

	}
	
	
	.datepicker table{
		font-size:13px;
	}
		.datepicker table tr td, .datepicker table tr th {
		text-align: center;
		width: 29px;
		height: 26px;
		border-radius: 4px;
		border: 0px none;
	}
	.datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover {
		background:#F2652C;
		color:#FFF;
		font-weight:bold;
	}
		.datepicker.dropdown-menu th, .datepicker.dropdown-menu td {
		padding: 0px 1px;
	}

	.block {
    background-color: #fce3d0;
    border: 1px solid #8f0c06;
    padding: 10px;
	margin-bottom: 10px;
	width: 100%;
}
#accordion{
	width:100%;
}

.select2{
	width: 24%! important;
}

.select2x{
	width: 100%! important;
}

.selRow{
	width: 42%! important;
}


table,td,th{
	
    font-size: 11px;
    color: #561a4c !important;
    letter-spacing: 1px;
	font-family: Sans-serif;
	font-weight: 700;

}

input{
		height: calc(1.8125rem + 2px) !important;
		

}

.txtInp{
 width: 24%! important;
}

.txtInp2{
 width: 58%! important;
}

.inpckh{
	height: calc(1.3125rem + 2px) !important;
	width: 2% !important;
	border-radius: .25rem !important;
}

#valid_err{

    color: #ca3636;
    font-weight: bold;

}


